In [7]:
import os
import csv
import subprocess as sub
import shutil
#Me ubico en el directorio que quiero 
os.chdir('/home/hoseki/Desktop/Sysbio/cSTING/cerrada-rep1/prod/interactions/')

In [ ]:
for i in range(500):
    #j = i+1
    with open("cerrada-rep1-frame"+str(i+1)+".pdb", 'r') as file:
        filedata = file.read()

    # Replace the target string  
    #k = j+1
    filedata = filedata.replace("MODEL      "+str(i+2), 'MODEL        1')

    # Write the file out again
    with open("cerrada-rep1-frame"+str(i+1)+".pdb", 'w') as file:
        file.write(filedata)

In [ ]:
for i in range(500):
    if(i > 9):
        #j = i+1
        with open("cerrada-rep1-frame"+str(i+1)+".pdb", 'r') as file:
            filedata = file.read()

        # Replace the target string  
        #k = j+1
        filedata = filedata.replace("MODEL        "+str(i+2), 'MODEL        1')

        # Write the file out again
        with open("cerrada-rep1-frame"+str(i+1)+".pdb", 'w') as file:
            file.write(filedata)
    elif(i > 99):
        with open("cerrada-rep1-frame"+str(i+1)+".pdb", 'r') as file:
            filedata = file.read()

        # Replace the target string  
        #k = j+1
        filedata = filedata.replace("MODEL        "+str(i+2), 'MODEL        1')

        # Write the file out again
        with open("cerrada-rep1-frame"+str(i+1)+".pdb", 'w') as file:
            file.write(filedata)
            
    else:
        with open("cerrada-rep1-frame"+str(i+1)+".pdb", 'r') as file:
            filedata = file.read()

        # Replace the target string  
        #k = j+1
        filedata = filedata.replace("MODEL      "+str(i+2), 'MODEL        1')

        # Write the file out again
        with open("cerrada-rep1-frame"+str(i+1)+".pdb", 'w') as file:
            file.write(filedata)

In [ ]:
src_path = r"/home/hoseki/Desktop/Sysbio/cSTING/cerrada-rep1/prod/interactions/report.xml"
dst_path = r"/home/hoseki/Desktop/Sysbio/cSTING/cerrada-rep1/prod/interactions/reports/report.xml"
for i in range(501):
    os.chdir('/home/hoseki/Desktop/Sysbio/cSTING/cerrada-rep1/prod/interactions/')
    sub.call(["plip", "-f", "cerrada-rep1-frame"+str(i)+".pdb", "-yv", "-x"]) 
    shutil.move(src_path, dst_path)
    os.rename("reports/report.xml", "reports/frame"+str(i)+"_report.xml")
    pse_src_path = r"/home/hoseki/Desktop/Sysbio/cSTING/cerrada-rep1/prod/interactions/CERRADA_REP1_FRAME"+str(i)+"_PROTEIN_1SY_A_540.pse"
    pse_dst_path = r"/home/hoseki/Desktop/Sysbio/cSTING/cerrada-rep1/prod/interactions/pse/CERRADA_REP1_FRAME"+str(i)+"_PROTEIN_1SY_A_540.pse"
    shutil.move(pse_src_path, pse_dst_path)
    
print("Finished bitches")

In [2]:
### 1 - LIBRARIES ###
import os
import csv
import subprocess as sub
import pandas as pd 
from lxml import objectify
import xmltodict as xm
import re
import numpy as np

In [8]:
hydrogen_bonds = pd.DataFrame(columns = ["id", "resid", "restype", "donor_group", "acceptor_group", "count", "Occupancy"])
salt_bridges = pd.DataFrame(columns = ["id", "resid", "restype", "count", "occupancy"])

for i in range(501):
    data = open('reports/frame'+str(i)+'_report.xml', 'r').read() #abro el archivo xml
    data2 = xm.parse(data) #leo cuasi bien el fucking archivo
    hb_aux = pd.DataFrame.from_dict(data2['report']['bindingsite']['interactions']['hydrogen_bonds']["hydrogen_bond"])
    sb_aux = pd.DataFrame.from_dict(data2['report']['bindingsite']['interactions']['salt_bridges']["salt_bridge"])
    if i == 0:
        for ind in hb_aux.index:
            hb_new_row = {"id":str(hb_aux["donoridx"][ind]+hb_aux["acceptoridx"][ind]), 
                          "restype":str(hb_aux["restype"][ind]), 
                          "resid":str(hb_aux["resnr"][ind]), 
                          "donor_group":str(hb_aux["donortype"][ind]), 
                          "acceptor_group":str(hb_aux["acceptortype"][ind]), 
                          "count":1, 
                          "Occupancy":0}
            hydrogen_bonds = hydrogen_bonds.append(hb_new_row, ignore_index=True)
        for ind in sb_aux.index:
            sb_new_row = {"id":str(sb_aux["resnr"][ind]+sb_aux["resnr_lig"][ind]), 
                          "resid":str(sb_aux["resnr"][ind]), 
                          "restype":str(sb_aux["restype"][ind]), 
                          "count":1, 
                          "occupancy":0}
            salt_bridges = salt_bridges.append(sb_new_row, ignore_index=True)
            
    else:
        for ind in hb_aux.index:
            hb_id = str(hb_aux["donoridx"][ind]+hb_aux["acceptoridx"][ind])
            if hb_id in set(hydrogen_bonds.id):
                hydrogen_bonds['count'][hydrogen_bonds.index[hydrogen_bonds['id'] == hb_id].tolist()] = hydrogen_bonds['count'][hydrogen_bonds.index[hydrogen_bonds['id'] == hb_id].tolist()] + 1
            else:
                hb_new_row = {"id":str(hb_aux["donoridx"][ind]+hb_aux["acceptoridx"][ind]), 
                              "restype":str(hb_aux["restype"][ind]), 
                              "resid":str(hb_aux["resnr"][ind]), 
                              "donor_group":str(hb_aux["donortype"][ind]), 
                              "acceptor_group":str(hb_aux["acceptortype"][ind]), 
                              "count":1, 
                              "Occupancy":0}
                hydrogen_bonds = hydrogen_bonds.append(hb_new_row, ignore_index=True)
        for ind in sb_aux.index:
            sb_id = str(sb_aux["resnr"][ind]+sb_aux["resnr_lig"][ind])
            if sb_id in set(salt_bridges.id):
                salt_bridges['count'][salt_bridges.index[salt_bridges['id'] == sb_id].tolist()] = salt_bridges['count'][salt_bridges.index[salt_bridges['id'] == sb_id].tolist()] + 1
            else:
                sb_new_row = {"id":str(sb_aux["resnr"][ind]+sb_aux["resnr_lig"][ind]), 
                              "resid":str(sb_aux["resnr"][ind]), 
                              "restype":str(sb_aux["restype"][ind]), 
                              "count":1, 
                              "occupancy":0}
                salt_bridges = salt_bridges.append(sb_new_row, ignore_index=True)        

hydrogen_bonds['Occupancy'] = hydrogen_bonds['count']/501
salt_bridges['Occupancy'] = salt_bridges['count']/501                
print("done")
salt_bridges

done

       id resid restype count occupancy Occupancy
0  237540   237     ARG   498         0  0.994012
1  265540   265     GLU   482         0  0.962076
2  434540   434     ARG   501         0         1
3  440540   440     ARG   501         0         1

In [9]:
hydrogen_bonds['chain'] = 'A'
for i in range(len(hydrogen_bonds['count'])):
    if int(hydrogen_bonds.resid[i]) > 342:
        hydrogen_bonds.resid[i] = int(hydrogen_bonds.resid[i]) - 197
        hydrogen_bonds.chain[i] = "B"
salt_bridges['chain'] = 'A'
for i in range(len(salt_bridges['count'])):
    if int(salt_bridges.resid[i]) > 342:
        salt_bridges.resid[i] = int(salt_bridges.resid[i]) - 197
        salt_bridges.chain[i] = 'B'
hydrogen_bonds.to_csv("closed-rep1-hbonds.csv")
salt_bridges.to_csv("closed-rep1-sbridges.csv")

In [10]:
salt_bridges

       id resid restype count occupancy Occupancy chain
0  237540   237     ARG   498         0  0.994012     A
1  265540   265     GLU   482         0  0.962076     A
2  434540   237     ARG   501         0         1     B
3  440540   243     ARG   501         0         1     B

In [11]:
interactions = []
for i in range(501):
    data = open('reports/frame'+str(i)+'_report.xml', 'r').read() #abro el archivo xml
    data2 = xm.parse(data) #leo cuasi bien el fucking archivo
    bonds = dict(data2['report']['bindingsite']['interactions']) 
    for i in bonds.keys():
        if bonds.get(i) != None:
            if i not in interactions:
                interactions.append(i)
interactions

['hydrogen_bonds', 'salt_bridges', 'pi_cation_interactions', 'pi_stacks']

In [12]:
hydrogen_bonds
hydrogen_bonds.sort_values(by=['Occupancy'],ascending=False)

          id resid restype donor_group acceptor_group count   Occupancy chain
1   15956438   243     ARG         Ng+             N2   497    0.992016     A
8   64914831   244     VAL         Npl             O2   492    0.982036     B
6   48056491   243     ARG         Ng+            Npl   471     0.94012     B
13  15986427   243     ARG         Ng+             O2   449    0.896208     A
4   64632026   268     SER          O3             O3   420    0.838323     A
18  52396453   268     SER          O3             O2   396    0.790419     B
5   48086435   243     ARG         Ng+             N2   333    0.664671     B
7   48116483   243     ARG         Ng+             N2   326    0.650699     B
0    6432407   172     TYR         Npl             O3   316    0.630739     A
10  64545239   268     SER          O3             O3   251    0.500998     B
15  20266435   268     SER          O3             N2   214    0.427146     A
31   6429407   172     TYR         Nam             O3   185    0.369261     A
19  20266432   268     SER          O3            Npl   175    0.349301     A
22  48116491   243     ARG         Ng+            Npl   175    0.349301     B
12   6432339   168     TYR         Npl             O3   107    0.213573     A
9   52396454   268     SER          O3             O3    97    0.193613     B
30  64352026   268     SER         Npl             O3    80    0.159681     A
14  64894831   244     VAL         Npl             O2    68    0.135729     B
11  53036453   272     THR          O3             O2    64    0.127745     B
34  48086432   243     ARG         Ng+            Npl    60     0.11976     B
3   20266463   268     SER          O3             O3    55     0.10978     A
40  64322026   268     SER          N3             O3    52    0.103792     A
2   15986438   243     ARG         Ng+             N2    51    0.101796     A
20  35356457   167     SER          O3             O3    37   0.0738523     B
29   6454393   171     GLY          O3             O2    24   0.0479042     A
21  64573535   167     SER          O3             O3    24   0.0479042     B
32   4076432   172     TYR          O3            Npl    22   0.0439122     A
23   6435339   168     TYR         Npl             O3    20   0.0399202     A
27  48456483   245     TYR          O3            Npl    12   0.0239521     B
28  64834845   245     TYR         Npl             O3    11   0.0219561     B
26  64914845   245     TYR          N3             O3     9   0.0179641     B
37  48056427   243     ARG         Ng+             O2     7   0.0139721     B
39  35356461   167     SER          O3             O3     7   0.0139721     B
38  64833606   171     GLY         Npl             O2     7   0.0139721     B
16  48056483   243     ARG         Ng+             N3     7   0.0139721     B
36  20906464   272     THR          O3             O2     6    0.011976     A
17  48536489   246     LYS         Nam            Npl     5  0.00998004     B
42  52326476   268     SER         Nam             O3     5  0.00998004     B
41  64572026   268     SER          O3             O3     4  0.00798403     A
25  47026483   237     ARG         Ng+             N2     4  0.00798403     B
46  20266461   268     SER          O3             O3     3  0.00598802     A
35  52396476   268     SER          O3             O3     2  0.00399202     B
24  16326438   245     TYR          O3             N2     2  0.00399202     A
45  15956427   243     ARG         Ng+             O2     2  0.00399202     A
48  52396452   268     SER          O3             O3     2  0.00399202     B
49   3226457   167     SER          O3             O3     2  0.00399202     A
50  64765239   268     SER          O3             O3     2  0.00399202     B
55  15956454   243     ARG         Ng+             O3     1  0.00199601     A
52  64381632   245     TYR         Npl             O3     1  0.00199601     A
54  15986491   243     ARG         Ng+            Npl     1  0.00199601     A
53  20266464   268     SER          O3             O2     1  0.00199601     A
43  48086429   243     ARG         Ng+            Nam     1  0.00199601     B
51   3266457   168     TYR         Nam             O3     1  0.00199601     A
47   3946444   172     TYR         Nam             O3     1  0.00199601     A
44  20266441   268     SER          O3             N3     1  0.00199601     A
33   6457280   164     LEU          O3             O2     1  0.00199601     A
56  15926489   243     ARG         Ng+             N2     1  0.00199601     A